

<form action="/api/" method="post">

  <label for="default">Default :</label><br>
  <input type="text" id="default" name="default" value="yes"><br>
  
  <label for="age">Age:</label><br>
  <input type="text" id="age" name="age" value="12"><br>
  
  <label for="job">Job (options: 'management','technician','entrepreneur','blue-collar','unknown'
 ,'retired','admin.','services','self-employed','unemployed','housemaid','student')</label><br>
  <input type="text" id="job" name="job" value="management"><br><br>
  
  <label for="marital">Marital (options: 'married', 'single', 'divorced')</label><br>
  <input type="text" id="marital" name="marital" value="married"><br><br>

  <label for="education">education (options: 'tertiary' 'secondary' 'unknown' 'primary'</label><br>
  <input type="text" id="education" name="education" value="tertiary"><br><br>
  
  <label for="balance">balance (number)</label><br>
  <input type="text" id="balance" name="balance" value="1200"><br><br>
  
  <label for="housing">housing ('yes' 'no')</label><br>
  <input type="text" id="housing" name="housing" value="yes"><br><br>
  
  <label for="loan">loan (options: 'no' 'yes')</label><br>
  <input type="text" id="loan" name="loan" value="yes"><br><br>
  
  <label for="contact">contact (options: 'unknown' 'cellular' 'telephone')</label><br>
  <input type="text" id="contact" name="contact" value="unknown"><br><br>
  
  <label for="duration">duration (number)</label><br>
  <input type="text" id="duration" name="duration" value="100"><br><br>
  
  <label for="campaign">campaign (number)</label><br>
  <input type="text" id="campaign" name="campaign" value="12" ><br><br>
    
  <label for="pdays">pdays (number)</label><br>
  <input type="text" id="pdays" name="pdays" value="12" ><br><br>
  
  <label for="poutcome">poutcome (options: 'unknown' 'failure' 'other' 'success')</label><br>
  <input type="text" id="poutcome" name="poutcome" value="unknown"><br><br>
  
  <input type="submit" value="Submit">
</form> 